/* ------------------- */
/* HTML5 RESET */
/* ------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* ------------------- */
/* STRUCTURE */
/* ------------------- */

html {
    overflow-y: scroll;
}

/* GRIDS */
body {
  display: grid;
  grid-template-rows: 10% 80% 10%;
}

header {
  display: flex;
  justify-content: center;
}

section {
  display: grid;
  grid-template-columns: 22% 62% 16%;
}

.tweet-form {
  display: grid;
  grid-template-columns: 80% 20%;
}

.tweet {
  display: grid;
  grid-template-columns: 100px auto 75px;
  grid-gap: 5px;
}

/* SIDEBARS */
aside {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10px;
  padding-right: 10px;
}

.trends-display, .followers-display, .profile {
  width: 100%;
  align-self: center;
}

.followers-header, .trends-header {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;
}

.followers, .trends {
  text-align: center;
}

.follower, .trend {
  margin-bottom: 10px;
  text-align: center;
  overflow-wrap: break-word;
}

/* PROFILE */
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  margin-bottom: 20px;
  justify-content: center;
}

.profile-img-container {
  margin-bottom: 20px;
}
.profile-data {
  width: 80%;
}

/* TWEETS */
main {
  width: 100%;
}

.tweet-creator {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  height: 75px;
}

.tweet-form {
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.tweet-textbox {
  border-radius: 25px;
}

.tweet-button {
  margin-left: 15px;
  border-radius: 25px;
}

.tweets-display {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tweet {
  width: 100%;
  margin-bottom: 15px;
  background-color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 1px 2px 1px rgba(0,0,0,0.5);
  border-radius: 25px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.buttons {
  align-self: center;
}

.time {
  margin-top: auto;
}



/* ------------------- */
/* COLORING */
/* ------------------- */

body {
  background-color: #00aced;
}

.tweet-textbox, .tweet-button {
  box-shadow: 1px 2px 1px rgba(0,0,0,0.5);
  border: 1px solid rgba(0,0,0,0.5);
}

.tweet:hover {
  background-color: #E1E8ED;
}

.tweet-button {
  background-color: #DB5673;
}

.buttons:hover {
  cursor: pointer;
}

*:focus {
  outline: none;
}

.like {
  background-color: #009999;
}

.retweet {
  background-color: #DB5673;
}

.comment {
  background-color: #bbbbbb;
}

/* ------------------- */
/* FONTS */
/* ------------------- */

html {
  font-family: "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.time {
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  color: #bbbbbb;
}

.handle {
  color: black;
  font-weight: 550;
  font-size: 18px;
  margin-bottom: 15px;
}

.message {
  font-size: 28px;
  margin-bottom: 15px;
}

.profile, .trends-display, .followers-display {
  color: white;
  text-align: center;
}

.followers-header {
  font-size: 26px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 2px 1px rgba(0,0,0,0.5);
}

.trends-header {
  font-size: 26px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 2px 1px rgba(0,0,0,0.5);
}

.user-handle {
  font-weight: bold;
  font-size: 20px;
  text-shadow: 1px 2px 1px rgba(0,0,0,0.5);
  margin-bottom: 10px;
}

.tweet-count, .follower-count {
  margin-bottom: 10px;
}

.tweet-textbox {
  font-size: 22px;
  padding-left: 20px;
}

.tweet-textbox::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #bbbbbb;
  font-size: 22px;
}

.tweet-textbox::-moz-placeholder { /* Firefox 19+ */
  color: #bbbbbb;
  font-size: 22px;
}

.tweet-button {
  font-weight: bold;
  font-size: 22px;
  color: white;
}

.tweet-action {
  text-align: center;
  font-size: 10px;
  border-radius: 45%;
  color: white;
  width: 31px;
  height: 21px;
  box-shadow: 1px 2px 1px rgba(0,0,0,0.1);
  border: 1px solid rgba(0,0,0,0.1);
  margin-bottom: 3px;
}

.likes-display, .retweets-display, .comments-display {
  font-size: 12px;
  font-weight: 300;
  font-style: italic;
}

.likes-display, .retweets-display {
  margin-bottom: 8px;
}

/* ------------------- */
/* IMAGES */
/* ------------------- */

.profile-img-container {
  width: 80%;
  max-width: 200px;
  border-radius: 50%;
  border: 1px solid white;
  overflow: hidden;
  background-color: white;
  box-shadow: 1px 2px 1px rgba(0,0,0,0.5);
}

.profile-img {
  width: 100%;
  height: 100%;
}

.avatar-img-container {
  justify-self: center;
  width: 75px;
  height: 75px;
  min-width: 75px;
  border-radius: 50%;
  border: 1px solid white;
  overflow: hidden;
  background-color: white;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

.avatar-img {
  width: 100%;
  height: 100%;
}

.handle:hover, .avatar-img:hover, .logo-img:hover, .follower:hover, .trend:hover, .user-link:hover {
  cursor: pointer;
  color: green;
}

.profile-img, .tweet-button {
  cursor: pointer;
}

/*
- TODO: add ability to comment on tweets
- TODO: add modal when tweet is clicked, displays tweets + comment box + comments
- TODO: add alert for login?
- TODO: add "my profile" button
- TODO: add search functionality
- TODO switch to grid everywhere & clean up css
*/
